<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JavaBank</title>
</head>
<body>
<h2>Add new customer: </h2>

<form th:action="@{/hello/customers/newcustomer}" th:object="${customer}" method="post">

    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" th:value="${customer.firstName}" th:field="*{customer.firstName}"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Last name"><br>
    <label for="mail">Email:</label><br>
    <input type="text" id="mail" name="mail" value="Email"><br>
    <label for="phone">Phone number:</label><br>
    <input type="text" id="phone" name="phone" value="Phone number"><br>

    <input onclick="window.location.href = 'customers.html';" type="submit" value="Submit">

</form>
</body>
</html>